.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.nav__title {
  margin-right: 70px;
}

.nav__btn {
  width: 140px;
  height: 40px;
  margin-top: 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #C4D0DA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__btn img {
  margin-right: 10px;
}

.nav__btn:hover {
  background-color: #228BDA;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #2D3A45;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__links img {
  margin-right: 10px;
}

.nav__links i {
  margin-right: 10px;
}

.nav__links:hover {
  color: #228BDA;
}

.header .container .right-header {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.header .container .right-header img:first-child {
  position: absolute;
  left: -2%;
  top: 0%;
}

.header .container .right-header img:last-child {
  position: absolute;
  left: 77%;
  top: 25%;
}

.header__list {
  list-style: none;
  width: 50%;
}

.header__title {
  font-size: 60px;
  line-height: 58px;
  color: #2D3A45;
  margin-bottom: 60px;
}

.header__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #2D3A45;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 3px solid white;
  padding: 10px 5px;
}

.header__link:hover {
  color: #228BDA;
  border-bottom: 3px solid #228BDA;
}

.header__btn {
  background-color: #228BDA;
  width: 220px;
  height: 50px;
  margin-right: 60px;
  border: 1px solid #228BDA;
  border-radius: 5px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__btn:hover {
  background-color: white;
  color: #228BDA;
}

.section {
  padding: 100px 0px;
  background-image: url("../../images/Group 6 Copy.png");
  background-repeat: no-repeat;
  background-position: 3% 82%;
}

.section__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 58px;
  text-align: center;
  color: #2D3A45;
}

.section__text {
  font-size: 20px;
  line-height: 28px;
  font-family: sans-serif;
  text-align: center;
  color: #2D3A45;
  max-width: 720px;
  margin: 0 auto;
}

.section__btn1 {
  position: absolute;
  top: 30%;
  -webkit-box-shadow: 0px 46px 57px rgba(116, 131, 143, 0.765762);
          box-shadow: 0px 46px 57px rgba(116, 131, 143, 0.765762);
  border-radius: 3.42px;
}

.section__btn2 {
  position: absolute;
  top: 62%;
  left: 72%;
  -webkit-box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
          box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
}

.section__btn2 span {
  background-color: #86BE47;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  padding: 2px 5px;
  border-radius: 5px;
}

.section__btn3 {
  position: absolute;
  left: 66%;
  -webkit-box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
          box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
}

.section__btn3 span {
  background-color: #86BE47;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  padding: 2px 5px;
  border-radius: 5px;
}

.aside {
  padding: 100px 0px;
  background-image: url("../../images/Group 6 Copy.png");
  background-repeat: no-repeat;
  background-position: 92% 11%;
}

.aside__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.aside__item hr {
  width: 94px;
  height: 7px;
  background-color: #E74040;
  border: #E74040;
}

.aside__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 58px;
  color: #2D3A45;
  letter-spacing: 0.2px;
}

.aside__text {
  font-size: 20px;
  line-height: 28px;
  color: #2D3A45;
  margin-bottom: 45px;
}

.aside__btn {
  background-color: #228BDA;
  width: 220px;
  height: 50px;
  border: 1px solid #228BDA;
  border-radius: 5px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.aside__btn:hover {
  background-color: white;
  color: #228BDA;
}

.aside__img {
  float: right;
}

.aside__list2 {
  position: absolute;
  top: 36%;
  left: 11%;
  width: 240px;
  height: 250px;
  background-color: white;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  -webkit-box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
          box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
  border-radius: 4px;
}

.aside__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 20px;
}

.aside__item2 div {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.box {
  padding: 100px 0px;
  background-image: url("../../images/Group 6 Copy.png");
  background-repeat: no-repeat;
  background-position: 4% 13%;
}

.box__list {
  list-style: none;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.box__item hr {
  width: 94px;
  height: 7px;
  background-color: #E74040;
  border: #E74040;
}

.box__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 58px;
  color: #2D3A45;
  letter-spacing: 0.2px;
}

.box__text {
  font-size: 20px;
  line-height: 28px;
  color: #2D3A45;
  margin-bottom: 45px;
}

.box__btn {
  background-color: #228BDA;
  width: 220px;
  height: 50px;
  border: 1px solid #228BDA;
  border-radius: 5px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.box__btn:hover {
  background-color: white;
  color: #228BDA;
}

.box__list2 {
  position: absolute;
  top: 50%;
  left: 42%;
  width: 240px;
  height: 200px;
  background-color: white;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  -webkit-box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
          box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
  border-radius: 4px;
}

.box__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 20px;
}

.box__item2 div {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.page {
  padding: 100px 0px;
  margin: 50px 0px;
  background-image: url("../../images/Rectangle Copy 19.png"), url("../../images/Group 7.png"), url("../../images/Group 15.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0% 60%, 90% 5%, 62% 100%;
}

.page__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  color: #2D3A45;
  letter-spacing: 0.2px;
}

.page__text {
  font-size: 20px;
  line-height: 28px;
  color: #2D3A45;
  margin-bottom: 45px;
}

.page__div {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.page__div:first-child {
  top: -8%;
  left: 55%;
  background: linear-gradient(152.04deg, #BBFF6E 6.36%, #598F1D 97.81%);
  -webkit-box-shadow: 0px 38px 48px rgba(134, 190, 71, 0.480879);
          box-shadow: 0px 38px 48px rgba(134, 190, 71, 0.480879);
  border-radius: 4px;
}

.page__div:last-child {
  top: 59%;
  left: 25%;
  background: linear-gradient(147.39deg, #9BD5FF 13.97%, #228BDA 92.67%);
  -webkit-box-shadow: 0px 38px 48px rgba(34, 139, 218, 0.236642);
          box-shadow: 0px 38px 48px rgba(34, 139, 218, 0.236642);
  border-radius: 4px;
}

.page__signup {
  position: absolute;
  top: 60%;
  left: -70%;
  width: 170px;
  font-size: 25px;
  font-weight: bold;
  color: #8D9BA8;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
          box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
  border-radius: 3px;
}

.page__sertificate {
  position: absolute;
  top: 9%;
  left: 84%;
  width: 170px;
  font-size: 25px;
  font-weight: bold;
  color: #8D9BA8;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
          box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
  border-radius: 3px;
}

.content {
  padding: 200px 0px 300px;
  margin: 100px 0px 200px;
  background-image: url("../../images/Rectangle Copy 37.png"), url("../../images/Group 15 Copy.png");
  background-repeat: no-repeat,no-repeat;
  background-position: 0%  0%, 100% 90%;
}

.content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .left-content {
  position: relative;
}

.content .left-content .content-div {
  background-color: white;
  width: 240px;
  height: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 4px;
}

.content .left-content .content-div .foiz {
  width: 73px;
  height: 36px;
  background-color: #86BE47;
  color: white;
  -webkit-box-shadow: 0px 10px 20px rgba(134, 190, 71, 0.653327);
          box-shadow: 0px 10px 20px rgba(134, 190, 71, 0.653327);
  border-radius: 18px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 80%;
  top: -6%;
}

.content .left-content .content-div .circle-border {
  margin-top: 20px;
  width: 170px;
  height: 170px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: linear-gradient(55deg, #F3F9EE 35% 70%, #86BE47 70% 100%);
}

.content .left-content .content-div .circle-border .circle-core {
  width: 100%;
  height: 100%;
  background-color: #F3F9EE;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .left-content .content-div span {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  color: #2D3A45;
}

.content .left-content .content-div p {
  font-size: 14px;
  line-height: 28px;
  color: #8D9BA8;
}

.content .left-content .div1 {
  position: absolute;
  left: -21%;
  top: -150%;
  -webkit-box-shadow: 0px 2px 2px rgba(116, 131, 143, 0.135653);
          box-shadow: 0px 2px 2px rgba(116, 131, 143, 0.135653);
}

.content .left-content .div2 {
  position: absolute;
  left: 30%;
  top: -59%;
  -webkit-box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
          box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
}

.content .left-content .div3 {
  position: absolute;
  left: -21%;
  top: 38%;
  -webkit-box-shadow: 0px 2px 2px rgba(116, 131, 143, 0.135653);
          box-shadow: 0px 2px 2px rgba(116, 131, 143, 0.135653);
}

.content .left-content .div4 {
  position: absolute;
  left: 33%;
  top: 128%;
  -webkit-box-shadow: 0px 2px 2px rgba(116, 131, 143, 0.135653);
          box-shadow: 0px 2px 2px rgba(116, 131, 143, 0.135653);
}

.content .left-content .div5 {
  position: absolute;
  left: 86%;
  top: 175%;
  -webkit-box-shadow: 0px 2px 2px rgba(116, 131, 143, 0.135653);
          box-shadow: 0px 2px 2px rgba(116, 131, 143, 0.135653);
}

.content__title {
  font-size: 35px;
  line-height: 40px;
  color: #2D3A45;
}

.content__text {
  font-size: 20px;
  line-height: 28px;
  color: #2D3A45;
}

.content__btn {
  width: 180px;
  height: 50px;
  background-color: #228BDA;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: 1px solid #228BDA;
  border-radius: 5px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content__btn:hover {
  background-color: #FFFFFF;
  color: #228BDA;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.main {
  padding: 80px 0px;
}

.main__title {
  width: 60%;
  margin: 20px auto;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.main__text {
  width: 60%;
  margin: auto;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #2D3A45;
}

.main__list {
  list-style: none;
  margin: 50px 0px;
}

.main__list:nth-child(2) li div {
  background-color: #E9F3FB;
}

.main__list:last-child li div {
  background-color: #F3F8ED;
}

.main__item {
  margin: 10px 0px;
}

.main__item div {
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #FEE9ED;
}

.main__item b {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.288px;
  color: #2D3A45;
}

.main__item p {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.24px;
  color: #8D9BA8;
}

.footer {
  padding-top: 20px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  list-style: none;
  padding-left: 0px;
}

.footer__link {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__link:hover p {
  color: #228BDA;
}

.footer__link img {
  margin-top: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer__link img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.footer__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.footer__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text span {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.footer__text img {
  margin-right: 10px;
}

.footer .bottom-text {
  font-size: 14px;
  line-height: 34px;
  color: #8D9BA8;
  background-color: #F9FAFB;
  margin-bottom: 0px;
}

#myBtn {
  height: 60px;
  width: 60px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.445);
  color: black;
  border-radius: 50%;
  border: 0.1px solid rgba(0, 0, 0, 0.123);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#myBtn p {
  font-size: 70px;
  font-weight: bold;
  position: absolute;
  bottom: -52px;
  right: 8px;
}

#myBtn:active {
  color: #00BAFC;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.motivation {
  padding: 50px 0px 100px;
}

.motivation__list {
  list-style: none;
  position: relative;
}

.motivation__item {
  margin: 20px;
}

.motivation__item h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 58px;
  color: #2D3A45;
}

.motivation__item p {
  font-size: 20px;
  line-height: 28px;
  color: #2D3A45;
}

.motivation__btn {
  position: absolute;
  width: 250px;
  height: 50px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
          box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
  border-radius: 4px;
  font-size: 22px;
  font-weight: bold;
  color: #2D3A45;
  left: 60%;
  z-index: 100;
}

.motivation__video {
  z-index: 1;
  -webkit-transform: perspective(600px) rotateY(-13deg);
          transform: perspective(600px) rotateY(-13deg);
}

.news {
  padding: 50px 0px;
}

.news__title {
  font-size: 35px;
  font-weight: bold;
  color: #2D3A45;
}

.news__link {
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  color: #2D3A45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__link i {
  margin-left: 10px;
}

.news .card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3A45;
}

.news .card-text {
  font-size: 16px;
  line-height: 20px;
  color: #8D9BA8;
}

.news .card-link {
  text-decoration: none;
  color: #2D3A45;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news .card-link:hover {
  color: blue;
}

.sponsor {
  padding: 50px 0px;
}

.sponsor__title {
  font-size: 35px;
  line-height: 40px;
  font-weight: bold;
  color: #2D3A45;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  overflow-x: hidden;
  color: #222;
  scroll-behavior: smooth;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.container__fluid {
  width: 1250px;
  margin: 0 auto;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}
/*# sourceMappingURL=main.css.map */