.content {
    padding: 100px 0px;
    margin: 100px 0px;
    background-image: url("../../images/Rectangle\ Copy\ 37.png"), url("../../images/Group\ 15\ Copy.png");
    background-repeat: no-repeat,no-repeat;
    background-position: 0%  0%, 100% 40%;
}