.header {

    .container {
        .right-header{
            width: 40%;
            display: flex;
            justify-content: flex-end;
            position: relative;
            img {
                &:first-child{
                    position: absolute; 
                    left: -2%;
                    top: 0%; 
                }
                &:last-child {
                    position: absolute;
                    left: 77%;
                    top: 25%;
                }
            }
        }
    }

    &__list {
        list-style: none;
        width: 50%;
    }

    &__title {
        font-size: 60px;
        line-height: 58px;
        color: #2D3A45;
        margin-bottom: 60px;
    }

    &__link {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #2D3A45;
        text-decoration: none;
        transition: 0.3s;
        border: 3px solid white;
        padding: 10px 5px;
        &:hover {
            color: #228BDA;
            border-bottom: 3px solid #228BDA;
        }
    }

    &__btn {
        background-color: #228BDA;
        width: 220px;
        height: 50px;
        margin-right: 60px;
        border: 1px solid #228BDA;
        border-radius: 5px;
        font-weight: 700;
        color: #FFFFFF;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: white;
            color: #228BDA;
        }
    }


}