.motivation {
   padding: 50px 0px 100px;

   &__list{
      list-style: none;
      position: relative;
   }

   &__item {
      margin: 20px;
      h2{
         font-size: 35px;
         font-weight: bold;
         line-height: 58px;
         color: #2D3A45;
      }
      p {
         font-size: 20px;
         line-height: 28px;
         color: #2D3A45;
      }
   }
   &__btn {
      position: absolute;
      width: 250px;
      height: 50px;
      background: #FFFFFF;
      box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
      border-radius: 4px;
      font-size: 22px;
      font-weight: bold;
      color: #2D3A45;
      left: 60%;
      z-index: 100;
   }
   &__video{
      z-index: 1;
      transform: perspective(600px) rotateY(-13deg) ;
   }
}