
.page {
    padding: 100px 0px;
    margin: 50px 0px;
    background-image: url("../../images/Rectangle\ Copy\ 19.png"), url("../../images/Group\ 7.png"), url("../../images/Group\ 15.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0% 60%, 90% 5%, 62% 100%;

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    &__title {
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        color: #2D3A45;
        letter-spacing: 0.2px;
    }

    &__text {
        font-size: 20px;
        line-height: 28px;
        color: #2D3A45;
        margin-bottom: 45px;
    }

    &__div {
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;

        &:first-child {
            top: -8%;
            left: 55%;
            background: linear-gradient(152.04deg, #BBFF6E 6.36%, #598F1D 97.81%);
            box-shadow: 0px 38px 48px rgba(134, 190, 71, 0.480879);
            border-radius: 4px;
        }

        &:last-child {
            top: 59%;
            left: 25%;
            background: linear-gradient(147.39deg, #9BD5FF 13.97%, #228BDA 92.67%);
            box-shadow: 0px 38px 48px rgba(34, 139, 218, 0.236642);
            border-radius: 4px;
        }
    }
    &__signup{
        position: absolute;
        top: 60%;
        left: -70%;
        width: 170px;
        font-size: 25px;
        font-weight: bold;
        color: #8D9BA8;
        background: #FFFFFF;
        box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
        border-radius: 3px;
    }

    &__sertificate{
        position: absolute;
        top: 9%;
        left: 84%;
        width: 170px;
        font-size: 25px;
        font-weight: bold;
        color: #8D9BA8;
        background: #FFFFFF;
        box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
        border-radius: 3px;
    }
   
}