.section {
    padding: 100px 0px;
    background-image: url("../../images/Group\ 6\ Copy.png");
    background-repeat: no-repeat;
    background-position: 3% 82%;

    &__title {
        font-weight: bold;
        font-size: 35px;
        line-height: 58px;
        text-align: center;
        color: #2D3A45;
    }

    &__text {
        font-size: 20px;
        line-height: 28px;
        font-family: sans-serif;
        text-align: center;
        color: #2D3A45;
        max-width: 720px;
        margin: 0 auto;
    }


    &__btn1 {
        position: absolute;
        top: 30%;
        box-shadow: 0px 46px 57px rgba(116, 131, 143, 0.765762);
        border-radius: 3.42px;
    }
    
    &__btn2 {
        position: absolute;
        top: 62%;
        left: 72%;
        box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);

        span {
            background-color: #86BE47;
            color: white;
            font-weight: bold;
            margin-left: 10px;
            padding: 2px 5px;
            border-radius: 5px;
        }
    }

    &__btn3 {
        position: absolute;
        left: 66%;
        box-shadow: 0px 38px 48px rgba(116, 131, 143, 0.253879);
        span {
            background-color: #86BE47;
            color: white;
            font-weight: bold;
            margin-left: 10px;
            padding: 2px 5px;
            border-radius: 5px;
        }
    }

}